<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
  <div id="header">
    <ul>
        <li>
            <a class="active" href="home.html"><img src="image/logo.png" style="margin:-10px;" /> Home</a>
        </li>
        <li><a href="#">Update Profile</a></li>
        <li><a href="profile.html">Profile</a></li>
    </ul>
  </div>
  <div id="wrapper">
    
    <p>
      <b>Name :</b> {fname} {lname}
    </p>
    <p>
      <b>Email :</b> {email}
    </p>
    <p>
      <b>Joined Date :</b> {date_of_joining}
    </p>
    <p>
      <b>Hometown :</b> {hometown}
    </p>
    <p>
      <b>Contact Address :</b> {address}
        </p>
  </div>
</body>
</html>
